@page "/initregister"

@using System
@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using System.Text
@using System.Text.Json
@using CxClie.Services
@using CxShared.Models
@using CxShared.Helpers
@using CxShared.Others
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.WebUtilities
@using SQLitePCL

@inject IHttpClientFactory _httpFactorer
@inject NavigationManager _navmanager
@inject TblJsonRender _tableService
@inject IJSRuntime _jsRun

<h3>Enregistrement SUPPORT</h3>
<EditForm Context="regform" Model="_invModel">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="container container-fluid">
        <div class="row mb-2">
            message :
            <label style="font-weight: bold; color: red; background-color: yellow;">@Imessage</label>
        </div>
        <div class="row mb-2">
            <div class="col-3">
                <label><h3><b>@_invModel.Idorg</b></h3></label>
            </div>
            <div class="col-8">
                <label class="fw-bold">@_invModel.Raison</label>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-3">
                <label for="sigle">Sigle:</label>
            </div>
            <div class="col-4">
                <label class="fw-bold">@_invModel.Sigle</label>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-3">
                <label for="toweb">website:</label>
            </div>
            <div class="col-8">
                <label class="bg-danger bg-opacity-10">@_invModel.Weburl</label>
            </div>
        </div>
        @if (isRegistrable)
        {
            <div class="row mb-2">
                <div class="col-8">
                    <label class="fw-bold">IDENTITY SUPPORT :</label>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-3">
                    <label for="rhlp">Role:</label>
                </div>
                <div class="col-4">
                    <label class="bg-danger bg-opacity-10" id="hlrol">@_invModel.HlpSrole</label>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-3">
                    <label for="ppays">Pays:</label>
                </div>
                    @if (_inCatal.Countries != null && _inCatal.Countries.Count > 0)
                    {
                    <div class="col-6">
                    <select id="ppays" @bind="_invModel.Ipays" disabled>
                        @foreach (var utp in _inCatal.Countries)
                        {
                            <option value="@utp.Elea">@utp.Liba</option>
                        }
                    </select>
                </div>
                }
                else
                {
                <p>pas de pays</p>
                }
            </div>
            <div class="row mb-2">
                <div class="col-3">
                    <label for="toweb">website:</label>
                </div>
                <div class="col-8">
                    <label class="bg-danger bg-opacity-10">@_invModel.HlpWurl</label>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-3">
                    <label for="ouname"> Pseudo:</label>
                </div>
                <div class="col-6">
                    (6 to 15 characters)
                    <InputText id="ouname" required @bind-Value="_invModel.Username" class="form-control" />
                    <ValidationMessage For="@(() => _invModel.Username)" />
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-3">
                    <label for="vmail">Email:</label>
                </div>
                <div class="col-7">
                    <InputText id="vmail" required @bind-Value="_invModel.Email" class="form-control" />
                    <ValidationMessage For="@(() => _invModel.Email)" />
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-3">
                    <label for="Hlphon">No Phone:</label>
                </div>
                <div class="col-6">
                    <InputText id="hlphon" required @bind-Value="_invModel.Phonenumber" placeholder="phonenumber" class="form-control" />
                    <ValidationMessage For="@(() => _invModel.Phonenumber)" />
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-3">
                    <label for="Hlphon2">No Phon2:</label>
                </div>
                <div class="col-6">
                    <InputText id="hlphon2" required @bind-Value="_invModel.Phon2" placeholder="phonenumber" class="form-control" />
                    <ValidationMessage For="@(() => _invModel.Phon2)" />
                </div>
            </div>
            @* <div class="row mb-2">
                <div class="col-3">
                    <label for="ouname">Pseudo/Email:</label>
                </div>
                <div class="col-7">
                    (6 to 15 characters)
                    <InputText id="ouname" required @bind-Value="_invModel.UsernameOrEmail" class="form-control" />
                    <ValidationMessage For="@(() => _invModel.Username)" />
                </div>
            </div> *@
            <div class="row mb-2">
                <div class="col-3">
                    <label for="password">Password:</label>
                </div>
                <div class="col-7">
                    <InputText id="password" required @bind-Value="_invModel.Password" type="password" class="form-control" />
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-3">
                    <label for="confirmpassword">Confirm Password:</label>
                </div>
                <div class="col-7">
                    <InputText id="confirmpassword" required @bind-Value="_invModel.ConfirmPassword" type="password" class="form-control" />
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-8">
                    <button class="btn btn-primary btn-sm" @onclick="() => DoSupportRegister()">
                        ➕ Enregistrer SUPPORT
                    </button>
                </div>
            </div>
        }
        else
        {
            <label style="font-weight: bold; color: red; background-color: yellow;">Donnees insuffisantes pour installer votre Organisation</label>
        }
    </div>
</EditForm>
@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public Customer _inCustomer { get; set; }
    [Parameter]
    public Order _inOrder { get; set; }
    [Parameter]
    public Gxdom _inGxdom { get; set;}
    [Parameter]
    public TableSet _inCatal { get; set; }

    private bool isLoading = false, yaerrors = false;
    private string successmsg = "";
    private List<string> errorList = new();
    private string stDoma = "";
    //recu de Qry
    private int iorig = 0, noerror = 0;
    private string errmess = "";

    private string Imessage = "";
    private bool isFormValid = false;

    private string _generatedLink = "";
    private HttpClient _apiClient;
    private HttpClient _locClient;
    //private TableSet _myCatal = new();
    //private BackModel _retModel = new();
    private UsrOgSetModel _invModel = new();
    //private string _generatedLink = "";

    private bool isRegistrable => _inCustomer.Email != null && _inCustomer.Doma != 0;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        yaerrors = false; errorList.Clear(); successmsg = "";
        _apiClient = _httpFactorer.CreateClient("wApiClient");
        _locClient = _httpFactorer.CreateClient("localClient");
    }
    protected override async Task OnParametersSetAsync()
    {
        _invModel = new();
        ModelHelper.CopyMatchingProperties(_inCustomer, _invModel);
        ModelHelper.CopyMatchingProperties(_inOrder, _invModel);
        Console.WriteLine($"test : {_inCustomer.Nom} et {_invModel.Nom}");
        int Idoma = _inCustomer.Doma;
        var odDoma = _inCatal.Domas.Where(ud => ud.Elea == Idoma).FirstOrDefault();
        if (odDoma != null)
        {
            stDoma = odDoma.Liba;
        }
        //Console.WriteLine($"nb Orders : {LsOrders.Count}");
        //Console.WriteLine(jsdata);
        //Console.Write("Zone table");
        _invModel.Email = _inGxdom.HlpEmail;
        _invModel.HlpWurl = _inGxdom.HlpWurl;
        _invModel.Phonenumber = _inGxdom.HlpPhone;
        _invModel.Phon2 = _inGxdom.HlpPhon2;
        _invModel.HlpSrole = "Support";
        _invModel.Ipays = _inGxdom.Ipays;
        Console.WriteLine($"DANS HELP / {_inCustomer.Nom} et {_inCustomer.Pnom}");
        Console.WriteLine($"DANS HELP / {_inCustomer.Weburl} et {_inCustomer.HlpWurl}");
        Console.WriteLine($"DANS HELP / {_inGxdom.HlpEmail} et {_inGxdom.HlpPhone} et {_inGxdom.HlpWurl}");
        yaerrors = false; isLoading = false;
        StateHasChanged();
    }
    //call Api register
    private async Task DoSupportRegister()
    {
        Imessage = "";
        yaerrors = false; isLoading = true;
        bool IsVerified = false;
        IsVerified = await VerifInputs(); //reverification
        if (!IsVerified)
        {
            Imessage = Imessage + "Echec Generation : des issues persistent..." + Imessage;
            Console.WriteLine($"message : {Imessage}");
            StateHasChanged();
            return;
        }
        // var usite = _inCatal.Sites.FirstOrDefault(wi => wi.Elea == _invModel.Iwurl);
        // if (usite == null)
        // {
        //     yaerrors = true;
        //     errorList.Add("Region est obligatoire.");
        // }
        if (yaerrors)
        {
            isLoading = false;
            return;
        }
        //Backend /user website
        var inpUrl = _invModel.Weburl;
        if (!inpUrl.StartsWith("http", StringComparison.OrdinalIgnoreCase))
            inpUrl = "https://" + inpUrl;
        inpUrl = inpUrl.TrimEnd('/');
        inpUrl = inpUrl + "/api/regis"; //controller
        Console.WriteLine($"Backend Link : {inpUrl}");
        //Frontend
        string backUrl = _locClient.BaseAddress?.ToString().TrimEnd('/') + "/sitesflow";
        _invModel.FbackUrl = backUrl;
        _invModel.SiSupport = true;
        Console.WriteLine($"Frontend Link : {backUrl}");
        var _linkSerialiser = new LinkSerialiser(_jsRun);

        _generatedLink = _linkSerialiser.GenerateLink(_invModel, inpUrl, "starthelpregis"); //endpoint
        _navmanager.NavigateTo(_generatedLink);
        isLoading = false;
    }
    private async Task<bool> VerifInputs()
    {
        isFormValid = false;
        if (string.IsNullOrWhiteSpace(_invModel.Email))
        {
            yaerrors = true;
            errorList.Add("Support Email is required.");
        }
        else
        {
            var normalizedEmail = _invModel.Email.ToUpperInvariant();
            if (normalizedEmail == null)
            {
                yaerrors = true;
                errorList.Add("Email contains inacceptable characters.");
            }
        }
        if (string.IsNullOrWhiteSpace(_invModel.Username))
        {
            yaerrors = true;
            errorList.Add("Username is required.");
        }
        //si par email ou phonenumber
        if (string.IsNullOrWhiteSpace(_invModel.Password))
        {
            yaerrors = true;
            errorList.Add("Password is required.");
        }
        // if (string.IsNullOrWhiteSpace(_invModel.UsernameOrEmail))
        // {
        //     yaerrors = true;
        //     errorList.Add("Username is required.");
        // }
        if (string.IsNullOrWhiteSpace(_invModel.ConfirmPassword))
        {
            yaerrors = true;
            errorList.Add("Please confirm your password.");
        }
        if (_invModel.Password != _invModel.ConfirmPassword)
        {
            yaerrors = true;
            errorList.Add("Passwords don't match.");
        }
        if (string.IsNullOrWhiteSpace(_invModel.Raison))
        {
            yaerrors = true;
            errorList.Add("Raison est obligatoire.");
        }
        if (!yaerrors) isFormValid = true;
        foreach (var era in errorList)
        {
            Imessage = Imessage + era;
        }
        return isFormValid;
    }
}
