@page "/homesetup"

@using System.ComponentModel.DataAnnotations
@using System.Dynamic
@using System.Text
@using System.Text.RegularExpressions;
@using BlazorBootstrap
@using CxClie.Services
@using CxClie.Admin
@using CxShared.Models
@using CxShared.Others
@using Microsoft.AspNetCore.WebUtilities
@using Newtonsoft.Json
@using SQLitePCL

@inject IHttpClientFactory _httpFactorer
@inject NavigationManager _navmanager
@inject TblJsonRender _tableService
@inject IJSRuntime _jsRun

<PageTitle>SocieteGxSolutions</PageTitle>

@if(!string.IsNullOrEmpty(Imessage))
{
    <div class="row">
        <div class="col-10">
            message : @Imessage
        </div>
    </div>
}
<Tabs Id="tab-contenu">
    <Tab Title="Vue">
        <Content>
            @if (_myOrga != null)
            {
                <HomForm @ref="mygform"
                _Orig=3
                     _myOrga="@_myOrga"
                     _myCatal="@_myCatal"
                     inOgAding="@inOgAding"
                     inOgEding="@inOgEding">
                <ChildContent>
                    <h2>Vue de GX-SOLUTIONS</h2>
                </ChildContent>
            </HomForm>
            }
        </Content>
    </Tab>
    <Tab Title="Modification">
        <Content>
            <button class="btn btn-sm btn-secondary" @onclick="() => EdtMyOrga()">
                    ✏️ Edit
            </button>
            @if (inOgEding && _myOrga != null)
            {
                <HomForm @ref="mygform"
                _Orig=2
                     _myOrga="@_myOrga"
                     _myCatal="@_myCatal"
                     inOgAding="@inOgAding"
                     inOgEding="@inOgEding">
                <ChildContent>
                    <h2>Modification Gx-Solutions</h2>
                </ChildContent>
            </HomForm>
            }
        </Content>
    </Tab>
    <Tab Title="Initialisation">
        <Content>
            <button class="btn btn-primary btn-sm" @onclick="() => AddMyOrga()">
                ➕ Add <span> (normalement une seule fois)</span>
            </button>
            @if (inOgAding)
            {
                <HomForm @ref="mygform"
                    _Orig=1
                     _myOrga="@_myOrga"
                     _myCatal="@_myCatal"
                     inOgAding="@inOgAding"
                     inOgEding="@inOgEding">
                <ChildContent>
                    <h2>Initialization Gx-Solutions</h2>
                </ChildContent>
            </HomForm>
            }
        </Content>
    </Tab>
</Tabs>
@if (inOgAding || inOgEding)
{
    <button class="btn btn-sm btn-success" @onclick="() => ConfMyOrga()">
        ✅ Conf.
    </button>
    <button class="btn btn-sm btn-secondary" @onclick="() => CancMyOrga()">
        ❌ Annul
    </button>
}

    
<style>
    .formedt-disabled {
        pointer-events: none;
        /* Visual feedback that the element is disabled */
        opacity: 0.6;
        cursor: default;
    }
</style>
@code {
    private bool isLoading = false;
    public Gxdom _myOrga = new();
    private HttpClient _apiClient;
    //private HttpClient _locClient;

    private HomForm mygform;
    private List<CatgpDto> _LscatalGpes = new();
    private List<CatitemDto> _LscatalItems = new();
    private string Imessage = "";
    private string sGxRaison = "", sGxSigle = "";

    private bool OrgaPresent = false;
    public bool inOgAding = false, inOgEding = false;
    private bool inOrgDEhide => inOgAding || inOgEding;

    private TableSet _myCatal = new();

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        //Batteries.Init();
        _apiClient = _httpFactorer.CreateClient("ApiGxClient");
        //_locClient = _httpFactorer.CreateClient("simpleApiClient");
        Console.WriteLine($"Api address : {_apiClient.BaseAddress}");
        try
        {
            _myCatal = await _tableService.rendTables();
            Console.WriteLine($" RESULTAT : {_myCatal.Countries.Count()}");
        }catch(Exception ex)
        {
            Console.WriteLine($"error : {ex.Message}");
        }
        Console.WriteLine($"nb pays : {_myCatal.Countries.Count()}");
        // to talk to your web API.
        var lsOrgas = await _apiClient.GetFromJsonAsync<List<Gxdom>>("api/gxdoms/rendall");
        if (lsOrgas != null && lsOrgas.Any())
        {
            // Records were returned, indicating the organization is present.
            OrgaPresent = true;
            _myOrga = lsOrgas.FirstOrDefault();
        }
        else
        {
            OrgaPresent = false;
            // No records were returned. This means the organization was not found.
            // The database and table are assumed to be correctly initialized.
            Imessage = "Societe Gx-Solution absente/compromise";
            _myOrga = new Gxdom(); // Or whatever default is appropriate.
        }
    }
    private async Task AddMyOrga()
    {
        if (_myOrga != null)
        {
            if (_myOrga.Eta > 0)
            {
                Imessage = "Demandez le Haut Support de Gx-Solutions";
                return;
            }
        }
        _myOrga = new();
        if (string.IsNullOrEmpty(_myOrga.GxRaison))
        {
            _myOrga.GxRaison = "Gx-Solution Gestion";
        }
        if (string.IsNullOrEmpty(_myOrga.GxSigle))
        {
            _myOrga.GxSigle = "GxSolu";
        }
        if (_myOrga.LastIdorg < 1000)
        {
            _myOrga.LastIdorg = 1000;
        }
        _myOrga.HlpEmail = "gxhelp@a24soft.com";
        _myOrga.HlpPhone = "+22658978826";
        _myOrga.HlpWurl = "gxhelp.a24soft.com";
        _myOrga.HlpPhon2 = "+2266468382";
        _myOrga.HlpUsername = "ilestbeau";
        _myOrga.Ipays = 12;
        _myOrga.LastIdact = 0;
        _myOrga.Eta = 1;
        inOgAding = true; //report confirm
    }
    private async Task EdtMyOrga()
    {

        inOgEding = true; //report confirm
    }
    private async Task ConfMyOrga()
    {
        if (inOgAding)
        {
            var respgxsol = await _apiClient.PostAsJsonAsync("api/gxdoms/cregxdom", _myOrga);
            var savedGxsol = await respgxsol.Content.ReadFromJsonAsync<Gxdom>();
            _myOrga = savedGxsol;
            Imessage = "societe GX-SOLUTIONS creee";
            OrgaPresent = true;
            inOgAding = false;
        }
        else if (inOgEding)
        {
            var respgxsol = await _apiClient.PutAsJsonAsync($"api/gxdoms/{_myOrga.Id}", _myOrga);
            if (respgxsol.IsSuccessStatusCode)
            {
                //var savedGxsol = await respgxsol.Content.ReadFromJsonAsync<Gxdom>();
                Console.WriteLine("✅ Gxdom updated successfully!");
                //_myOrga = savedGxsol;
                Imessage = "societe GX-SOLUTIONS creee";
                OrgaPresent = true;
                inOgAding = false;
            }
            else
            {
                var error = await respgxsol.Content.ReadAsStringAsync();
                Console.WriteLine($"❌ Update failed ({respgxsol.StatusCode}): {error}");
            }
        }
        inOgAding = false;
        inOgEding = false;
    }
    private async Task CancMyOrga()
    {

        inOgAding = false;
        inOgEding = false;
    }
}