@page "/sorgas"

@using System.ComponentModel.DataAnnotations
@using System.Dynamic
@using System.Text
@using BlazorBootstrap
@using CxShared.Models
@using Microsoft.AspNetCore.WebUtilities
@using System.Text.RegularExpressions;
@using Newtonsoft.Json
@using CxClie.Services
@using SQLitePCL

@inject IHttpClientFactory _httpFactorer
@inject NavigationManager _navmanager
@inject TblJsonRender _tableService
@inject IJSRuntime _jsRun

<h3>Institution</h3>

<div class="row">
    <div class="col-2">
        message :
    </div>
    <div class="col-9 text-left">
        @Imessage
    </div>
</div>
<Tabs Id="tab-contenu">
    <Tab Title="Vue">
        <Content>
            <OrgForm @ref="mygform"
                     _myOrga="@_myOrga"
                     _myCatal="@_myCatal"
                     inOgAding="@inOgAding"
                     inOgEding="@inOgEding">
                <ChildContent>
                    <h2>Vue de GX-SOLUTIONS</h2>
                </ChildContent>
            </OrgForm>
        </Content>
    </Tab>
    <Tab Title="Modification">
        <Content>
            <button class="btn btn-sm btn-secondary" @onclick="() => EdtMyOrga()">
                ✏️ Edit
            </button>
            <OrgForm @ref="mygform"
                     _myOrga="@_myOrga"
                     _myCatal="@_myCatal"
                     inOgAding="@inOgAding"
                     inOgEding="@inOgEding">
                <ChildContent>
                    <h2>Formulaire de Modification</h2>
                </ChildContent>
            </OrgForm>
        </Content>
    </Tab>
    <Tab Title="Initialisation">
        <Content>
            @if (!OrgaPresent)
            {
                <button class="btn btn-primary btn-sm" @onclick="() => AddMyOrga()">
                    ➕ Add <span> (normalement une seule fois)</span>
                </button>
            }
            <OrgForm @ref="mygform"
                     _myOrga="@_myOrga"
                     _myCatal="@_myCatal"
                     inOgAding="@inOgAding"
                     inOgEding="@inOgEding">
                <ChildContent>
                    <h2>Formulaire Initialization</h2>
                </ChildContent>
            </OrgForm>
        </Content>
    </Tab>
</Tabs>
@if (inOgAding || inOgEding)
{
    <button class="btn btn-sm btn-success" @onclick="() => ConfMyOrga()">
        ✅ Conf.
    </button>
    <button class="btn btn-sm btn-secondary" @onclick="() => CancMyOrga()">
        ❌ Annul
    </button>
}

    
<style>
    .formedt-disabled {
        pointer-events: none;
        /* Visual feedback that the element is disabled */
        opacity: 0.6;
        cursor: default;
    }
</style>
@code {
    private bool isLoading = false;
    public Gxdom _myOrga = new();
    private HttpClient _apiClient;
    private HttpClient _locClient;

    private OrgForm mygform;
    private List<CatgpDto> _LscatalGpes = new();
    private List<CatitemDto> _LscatalItems = new();
    private string Imessage = "";
    private string sGxRaison = "", sGxSigle = "";

    private bool OrgaPresent = false;
    public bool inOgAding = false, inOgEding = false;
    private bool inOrgDEhide => inOgAding || inOgEding;

    private TableSet _myCatal = new();

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        //Batteries.Init();
        _apiClient = _httpFactorer.CreateClient("wApiClient");
        _locClient = _httpFactorer.CreateClient("simpleApiClient");
        Console.WriteLine($"Api address : {_locClient.BaseAddress}");
        try
        {
            _myCatal = await _tableService.rendTables();
            Console.WriteLine($" RESULTAT : {_myCatal.Countries.Count()}");
        }catch(Exception ex)
        {
            Console.WriteLine($"error : {ex.Message}");
        }
        Console.WriteLine($"nb pays : {_myCatal.Countries.Count()}");
        // to talk to your web API.
        var lsOrgas = await _apiClient.GetFromJsonAsync<List<Gxdom>>("gxdoms/rendall");
        if (lsOrgas != null && lsOrgas.Any())
        {
            // Records were returned, indicating the organization is present.
            OrgaPresent = true;
            _myOrga = lsOrgas.FirstOrDefault();
        }
        else
        {
            OrgaPresent = false;
            // No records were returned. This means the organization was not found.
            // The database and table are assumed to be correctly initialized.
            Imessage = "Societe Gx-Solution absente";
            _myOrga = new Gxdom(); // Or whatever default is appropriate.
        }
    }
    private async Task AddMyOrga()
    {
        if (OrgaPresent)
        {
            Imessage = "Demandez le Haut Support de Gx-Solutions";
            return;
        }
        _myOrga = new();
        if (string.IsNullOrEmpty(_myOrga.GxRaison))
        {
            _myOrga.GxRaison = "Gx-Solution Gestion";
        }
        if (string.IsNullOrEmpty(_myOrga.GxSigle))
        {
            _myOrga.GxSigle = "GxSolu";
        }
        if (_myOrga.LastIdorg < 1000)
        {
            _myOrga.LastIdorg = 1000;
        }
        _myOrga.LastIdact = 0;
        _myOrga.Eta = 1;
        inOgAding = true; //report confirm
    }
    private async Task EdtMyOrga()
    {

        inOgEding = true; //report confirm
    }
    private async Task ConfMyOrga()
    {
        if (inOgAding)
        {
            var respgxsol = await _apiClient.PostAsJsonAsync("gxdoms/cregxdom", _myOrga);
            var savedGxsol = await respgxsol.Content.ReadFromJsonAsync<Gxdom>();
            _myOrga = savedGxsol;
            Imessage = "societe GX-SOLUTIONS creee";
            OrgaPresent = true;
            inOgAding = false;
        }
        else if (inOgEding)
        {
            var respgxsol = await _apiClient.PostAsJsonAsync("gxdoms/updgxdom", _myOrga);
            var savedGxsol = await respgxsol.Content.ReadFromJsonAsync<Gxdom>();
            Imessage = "societe GX-SOLUTIONS modifiee";
            inOgEding = false;
        }
        inOgAding = false;
        inOgEding = false;
    }
    private async Task CancMyOrga()
    {

        inOgAding = false;
        inOgEding = false;
    }
}