@page "/orgsetup"

@using System
@using System.Text
@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.AspNetCore.Components.Forms
@using CxShared.Models
@using System.Text.Json
@using CxClie.Services
@using SQLitePCL

@inject IHttpClientFactory _httpFactorer
@inject NavigationManager _navmanager
@inject TblJsonRender _tableService
@inject IJSRuntime _jsRun

<PageTitle>BackRegister</PageTitle>

<h2>Suivi Enregistrement</h2>
@if (yaerrors)
{
    foreach (var error in errorList)
    {
        <div class="alert alert-danger">@error</div>
    }
}

@* <AuthorizeView>
    <Authorized>
        <div class="alert alert-success">You're already logged in as @_invModel.Username</div>
    </Authorized>
    <NotAuthorized>
 *@
<EditForm Context="regform" Model="_invModel">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="container">
        <div class="row mb-2">
            message :
            <label style="font-weight: bold; color: red; background-color: yellow;">@Imessage</label>
        </div>
        <div class="row mb-2">
            <div class="col-1">
                <label><h3><b>@_invModel.Idorg</b></h3></label>
            </div>
            <div class="col-5">
                <label class="fw-bold">@_curOrder.Raison</label>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-1">
                <label for="sigle">Sigle:</label>
            </div>
            <div class="col-3">
                <label class="fw-bold">@_curOrder.Sigle</label>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-1">
                <label for="toweb">website:</label>
            </div>
            <div class="col-3">
                <label class="fw-bold">@_curCustomer.Weburl</label>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-1">
                <label for="toweb">domaine:</label>
            </div>
            <div class="col-3">
                <label class="fw-bold">@stDoma</label>
            </div>
            </div>
        </div>
            <div class="row mb-2">
                <div class="col-1">
                    <label for="ouname">Pseudo :</label>
                </div>
                <div class="col-2">
                <label class="fw-bold">@_curCustomer.Username</label>
            </div>
               
            </div>
            <div class="row mb-2">
                <div class="col-1">
                    <label for="phone">No Phone:</label>
                </div>
                <div class="col-3">
                <label class="fw-bold">@_curCustomer.Phonenumber</label>
            </div>
            </div>
            <div class="row mb-2">
                <div class="col-1">
                    <label for="email">Email:</label>
                </div>

                <div class="col-3"><div class="col-3">
                <label class="fw-bold">@_curCustomer.Email</label>
            </div>
            </div>
            <div class="row mb-2">
                <div class="col-1">
                    <label for="onom">Nom:</label>
                </div>
                <div class="col-3">
                <label class="fw-bold">@_curCustomer.Nom</label>
            </div>
            </div>
            <div class="row mb-2">
                <div class="col-1">
                    <label for="opnoms">Prenom(s):</label>
                </div>
                <div class="col-3">
                <label class="fw-bold">@_curCustomer.Pnom</label>
            </div>
            </div>
            @if (isInstallable)
            {
            <div class="row mb-2">
                <div class="col-2">
                    <label for="ouname">Pseudo :</label>
                </div>
                <div class="col-4">
                    (6 to 15 characters)
                    <InputText id="ouname" required @bind-Value="_invModel.UsernameOrEmail" class="form-control" />
                    <ValidationMessage For="@(() => _invModel.UsernameOrEmail)" />
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-2">
                    <label for="password">Password:</label>
                </div>
                <div class="col-2">
                    <InputText id="password" required @bind-Value="_invModel.Password" type="password" class="form-control" />
                </div>
            </div>
                <div class="row mb-2">
                    <div class="col-4">
                        <button class="btn btn-primary btn-sm" @onclick="() => OpenCustOrga()">
                            ➕ Installer votre logiciel
                        </button>
                    </div>
                </div>
            } else
            {
                <label style="font-weight: bold; color: red; background-color: yellow;">Donnees insuffisantes pour installer votre Organisation</label>
            }
    </div>
    <div class="row">
        @if (iorig == 1) //adm registring
        {
            @switch (noerror)
            {
                case 9: //bon
                    <div class="col-12">
                        <div>
                            <label>
                            Merci de la confiance que vous avez faite a GX-SOLUTIONS
                            Votre enregistrement est fait.
                            </label>
                            <label>
                                Vous devez confirmer votre adresse mail a partir du lien
                                recu dans votre boite email.
                                pour acceder a votre DOMAINE et continuer.
                            </label>
                            <label>
                                Ensuite, vous pouvez et devez INSTALLER votre logiciel
                                pour acceder a votre LOGICIEL.
                                Consultez votre boite Email, le lien y est egalement.
                            </label>
                        </div>
                    </div>
                    break;
                case 1: //link
                        <div class="col-12">
                            <label>
                            Un probleme est survenu lord de votre enregistrement :
                            Le lien est corrompu.
                            </label>
                            <label>
                            Re-essayez!
                            Si ca ne marche pas, veuillez contacte le support.
                            </label>
                        </div>
                    break;
                case 2: //data
                        <div class="col-12">
                            <label>
                            Un probleme est survenu lord de votre enregistrement :
                            Des donnees sont absentes.
                            </label>
                            <label>
                            Re-essayez!
                            Si ca ne marche pas, veuillez contacte le support.
                            </label>
                        </div>
                    break;
                case 3: //deja enreg
                    <div class="col-12">
                            <label>
                            Un probleme est survenu lord de votre enregistrement :
                            L-utilisateur a deja ete enregistre.
                            </label>
                            <label>
                            Re-essayez!
                            Si ca ne marche pas, veuillez contacte le support.
                            </label>
                        </div>
                    break;
                case 4: //echec enreg
                <div class="col-12">
                            <label>
                            Un probleme est survenu lord de votre enregistrement :
                            L-enregistrement a echoue.
                            </label>
                            <label>
                            Veuillez contacte le support.
                            </label>
                        </div>
                    break;
                case 5: //sans jeton

                    break;
                default:
                    <div class="col-12">
                            <label>
                            Un probleme inconnu est survenu lord de votre enregistrement :
                            </label>
                            <label>
                            Re-essayez et/ou veuillez contacter le support.
                            </label>
                        </div>
                    break;
            }

        }
        @if (iorig == 2) //supt registring
        {
            @switch (noerror)
            {
                case 9: //bon

                    break;


                 default:
                    
                    break;
            }
        }
            </div>
</EditForm>

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string cdlink { get; set; }

    private bool isLoading = false, yaerrors = false;
    private string successmsg = "";
    private List<string> errorList = new();
    private string stDoma = "";
    //recu de Qry
    private int iorig = 0, noerror = 0;
    private string errmess = "";

    private string Imessage = "";
    private HttpClient _apiClient;
    private HttpClient _locClient;
    private TableSet _myCatal = new();
    //private BackModel _retModel = new();
    private InviteModel _invModel = new();
    private string _generatedLink = "";

    private bool isInstallable => _curCustomer.Email != null && _curOrder.Doma != 0;

    private List<Customer> LsCustomers = new();
    private Customer _curCustomer= new();
    private List<Order> LsOrders = new();
    private Order _curOrder = new();

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        yaerrors = false; errorList.Clear(); successmsg = "";
        _apiClient = _httpFactorer.CreateClient("wApiClient");
        _locClient = _httpFactorer.CreateClient("simpleApiClient");
        try
        {
            _myCatal = await _tableService.rendTables();
        }
        catch (Exception ex)
        {
            Imessage = "probleme des options" + ex.Message;
        }
        Console.WriteLine($"nb. pays : {_myCatal.Countries.Count()}");
        //TEST ?????
        //backsetup = "aWQ9MCZpY29kYT0mZW1haWw9bGVuYXZpcmUlNDB5YWhvbyUyQ2ZyJnBob25lbnVtYmVyPSUyQjIyNjc4NDg5ODQmcGFzc3dvcmQ9SmVzdWlzJTQwOTkmY29uZmlybXBhc3N3b3JkPUplc3VpcyU0MDk5JnVzZXJuYW1lPWplc3Vpc2NoZXptb2kmdXNyaWQ9Jm5vbT1TYW5vbiZwbm9tPUFkcmllbiZpZG9yZz0mcmFpc29uPUNvbXBhZ25pZSUyMEFmcmljYWluZSUyMGRlJTIwUHJvZHVjdGlvbiUyMGRlJTIwUGxhc3RpcXVlcyZzaWdsZT1DQVBQMjM4JnBob24yPSZpcGF5cz0xNiZpbGFuZz0yJm9sYW5nPTAmaW1ldGhwPTAmaWRvbWE9MiZzZG9tYT0maXF2YWw9MSZpd3VybD0xJnN3dXJsPSZpcm9sZT0zJnNyb2xlPUFkbWluJnV0eXA9MCZkZXF1aT0wJnRvcXVpPTAmdm5kZW1haWw9JnZuZHBob25lPSZ2bmRub209JnZuZHBub209JmRhdG9wZT0xMCUyRjE0JTJGMjAyNSUyMDElM0EwMyUzQTE5JTIwUE0mdWlwPSZmYmFja3VybD0mZXRhPTAmdWFkcjE9JmluZm9wbHVzPSZvYnN2PQ";
        //TEST ????
        if (!string.IsNullOrEmpty(cdlink))
        {
            var _LinkSerialiser = new LinkSerialiser(_jsRun);
            _invModel = _LinkSerialiser.DecodeAndDeserialize<InviteModel>(cdlink);
            if (_invModel.Password == "Jesuis@99")
            {
                _invModel.Password = "";
                _invModel.ConfirmPassword = "";
            }
            //iorig = _retModel.Orig;
            //noerror = _retModel.Error;
            var lscusts = await _apiClient.GetFromJsonAsync<List<Customer>>("customers/rendall");
            if (lscusts != null && lscusts.Any())
            {
                LsCustomers = lscusts;
            }
            Console.WriteLine($"nb Customers : {LsCustomers.Count}");
            var lsordas = await _apiClient.GetFromJsonAsync<List<Order>>("orders/rendall");
            if (lsordas != null && lsordas.Any())
            {
                LsOrders = lsordas;
            }
            //remplissage des labels
            //stRaison = "", stSigle = "", stSite = "", stDoma = "", stPhonenumber = "";
            _curOrder = LsOrders.Where(od => od.Id == _invModel.Ordid).FirstOrDefault();
            if (_curOrder != null)
            {
                _curCustomer = LsCustomers.Where(uc => uc.Id == _curOrder.Idclie).FirstOrDefault();
                if (iorig == 1 && noerror == 9)
                {
                    //envoyer Email Installation

                    //maj etape de order
                }
                //pre-filled
                ModelHelper.CopyMatchingProperties(_curCustomer, _invModel);
                ModelHelper.CopyMatchingProperties(_curOrder, _invModel);
            }
            else
            {
                _curOrder = new();
            }
            int Idoma = _curOrder.Doma;
            var odDoma = _myCatal.Domas.Where(ud => ud.Elea == Idoma).FirstOrDefault();
            if (odDoma != null)
            {
                stDoma = odDoma.Liba;
            }
            Console.WriteLine($"nb Orders : {LsOrders.Count}");
        }
        //Console.WriteLine(jsdata);
        //Console.Write("Zone table");
        yaerrors = false; isLoading = false;
    }
    private void OpenCustOrga()
    {
        if (string.IsNullOrEmpty(_invModel.UsernameOrEmail))
        {
            Imessage = "Pseudo ou Email obligatoire";
            return;
        }
        if (string.IsNullOrEmpty(_invModel.Password) || _invModel.Password.Length < 6)
        {
            Imessage = "Mot de passe obligatoire et plus de 6 caracteres";
            return;
        }
        Imessage = "Installation en cours...";
        var _LinkSerialiser = new LinkSerialiser(_jsRun);
        string baseUrl = _curCustomer.Weburl;
        baseUrl = baseUrl.TrimEnd('/');
        baseUrl = baseUrl + "/api/usercontext/";
        //regenerer pour Creation Orga
        //_invModel.Idorg = _curOrder.Idorg;
        //_invModel.FbackUrl = _curCustomer.Weburl;
        // Merge all child models into the main model
        
        _invModel.Username = _invModel.UsernameOrEmail;
        //password et usernameoremail is in _invModel
        Console.WriteLine($"combined Model : {_invModel.Password}");
        // TEST
        // // Get the Type of the object
        // Type objectType = _invModel.GetType();
        // PropertyInfo[] properties = objectType.GetProperties();
        // // Iterate through each property
        // foreach (PropertyInfo property in properties)
        // {
        //     // Get the property name
        //     string propertyName = property.Name;
        //     // Get the property value
        //     object propertyValue = property.GetValue(_invModel, null);
        //     // Display the property name and value
        //     Console.WriteLine($"  {propertyName}: {propertyValue}");
        // }

        //✅ main now has all combined values
        _generatedLink = _LinkSerialiser.GenerateLink(_invModel, baseUrl, "startorga");
        _navmanager.NavigateTo(_generatedLink);
    }
}

