@page "/backregister"
@using System
@using System.Text
@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using System.Web
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.AspNetCore.Components.Forms
@using CxShared.Models
@using Newtonsoft.Json
@using CxClie.Services
@using SQLitePCL

@inject IHttpClientFactory _httpFactorer
@inject NavigationManager _navmanager
@inject TblJsonRender _tableService
@inject IJSRuntime _jsRun

<PageTitle>BackRegister</PageTitle>

<h2>Suivi Enregistrement</h2>
@if (yaerrors)
{
    foreach (var error in errorList)
    {
        <div class="alert alert-danger">@error</div>
    }
}

@* <AuthorizeView>
    <Authorized>
        <div class="alert alert-success">You're already logged in as @_invModel.Username</div>
    </Authorized>
    <NotAuthorized>
 *@
<EditForm Context="regform" Model="_retModel">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="container">
        <div class="row mb-2">
            <label style="font-weight: bold; color: red; background-color: yellow;">@Imessage</label>
        </div>
        <div class="row mb-2">
            <h3><b>@_retModel.Oidstr</b></h3>
        </div>
        @if (_curOrder != null)
        {
            <div class="row mb-2">
                <div class="col-6">
                    <label class="fw-bold">@_curOrder.Raison</label>
                </div>
                <div class="row mb-2">
                    <div class="col-1">
                        <label for="sigle">Sigle:</label>
                    </div>
                    <div class="col-3">
                        <label class="fw-bold">@_curOrder.Sigle</label>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-1">
                        <label for="toweb">website:</label>
                    </div>
                    <div class="col-3">
                        <label class="fw-bold">@_curCustomer.Weburl</label>
                    </div>
                </div>
            </div>
        }
        <div class="row mb-2">
            <div class="col-2">
                <label for="toweb">domaine:</label>
            </div>
            <div class="col-4">
                <label class="fw-bold">@stDoma</label>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-2">
            <label for="ouname">Pseudo/Email :</label>
        </div>
        <div class="col-3">
            <label class="fw-bold">@_curCustomer.UsernameOrEmail</label>
        </div>

    </div>
    <div class="row mb-2">
        <div class="col-2">
            <label for="phone">No Phone:</label>
        </div>
        <div class="col-3">
            <label class="fw-bold">@_curCustomer.Phonenumber</label>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-2">
            <label for="email">Email:</label>
        </div>

        <div class="col-4">
            <div class="col-3">
                <label class="fw-bold">@_curCustomer.Email</label>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <label for="onom">Nom:</label>
            </div>
            <div class="col-3">
                <label class="fw-bold">@_curCustomer.Nom</label>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <label for="opnoms">Prenom(s):</label>
            </div>
            <div class="col-4">
                <label class="fw-bold">@_curCustomer.Pnom</label>
            </div>
        </div>
    </div>
    <div class="row">
        @if (iorig == 1) //adm registring
        {
            Console.WriteLine($"EST PASSE SUR 1 et : {iorig}");
            @switch (noerror)
            {
                case 9: //bon
                    <div class="row">
                        <label class="bg-white text-success p-2">
                            Merci de la confiance que vous avez faite a GX-SOLUTIONS
                            <p>Votre enregistrement est presque fait. </p>
                        </label>
                    </div>
                    <div class="row">
                        <label class="bg-white text-success p-2">
                            Consultez votre boite Email, <b>2 (deux)</b> messages vous ont ete envoyes
                        </label>  
                     </div>
                     <div class="row">
                         <label class="bg-white text-danger p-2">
                            1. <b>Activation de Compte</b> : vous devez CONFIRMER votre compte sur 
                            le LOGICIEL afin de pouvoir y ACCEDER.
                         </label>
                    </div>
                    <div class="row">
                        <label class="bg-white text-danger p-2">
                            2. Ensuite <b>Installation du Logiciel </b>quand vous aurez active votre Compte vous repondez au 2eme
                            message Installation de votre LOGICIEL.
                         </label>
                         <label class="bg-white text-info p-2">
                            <i>p.s.: Si vous avez des difficultes, contactez le vendeur.</i>
                        </label>
                     </div>
                    break;
                case 1: //link
                        <div class="col-12">
                            <label>
                            Un probleme est survenu lors de votre enregistrement :
                            Le lien est peut-etre corrompu.
                            Re-essayez!
                            Si ca ne marche pas, veuillez prendre contact avec le vendeur.
                            </label>
                        </div>
                    break;
                case 2: //data
                        <div class="col-12">
                            <label>
                            Un probleme est survenu lors de votre enregistrement :
                            Des donnees sont absentes.
                            Re-essayez!
                            Si ca ne marche pas, veuillez prendre contact avec le vendeur.
                            </label>
                        </div>
                    break;
                case 3: //deja enreg
                    <div class="col-12">
                            <label>
                            Un probleme est survenu lors de votre enregistrement :
                            Vous avez peut-etre deja ete enregistre.
                            Re-essayez plutot d-activer votre compte.
                            Si ca ne marche pas, veuillez prendre contact avec le vendeur.
                            </label>
                        </div>
                    break;
                case 4: //echec enreg
                <div class="col-12">
                            <label>
                            Un probleme est survenu lors de votre enregistrement :
                            L-operation d-enregistrement a echoue.
                            Veuillez prendre contact avec le vendeur.
                            </label>
                        </div>
                    break;
                case 5: //sans jeton

                    break;
                default:
                    <div class="col-12">
                            <label>
                            Un probleme inconnu est survenu lors de votre enregistrement :
                            Re-essayez et/ou veuillez prendre contact avec le vendeur.
                            </label>
                        </div>
                    break;
            }

        }
        @if (iorig == 2) //supt registring
        {
            @switch (noerror)
            {
                case 9: //bon

                    break;


                 default:
                    
                    break;
            }
        }
            </div>
</EditForm>

@code {
    //[Parameter]
    //[SupplyParameterFromQuery]
    //public string cdlink { get; set; }

    private bool isLoading = false, yaerrors = false;
    private string successmsg = "";
    private List<string> errorList = new();
    private string stDoma = "";

    private string Imessage = "";
    private HttpClient _apiClient;
    private HttpClient _locClient;
    private TableSet? _myCatal = new();
    private BackModel _retModel = new();
    private InviteModel _invModel = new();
    private ValidModel _valModel = new();
    private string _retBaseUrl = "";
    private string _generatedLink = "", _ogsgenLink = "";
    private bool IsMailGenerated = false, IsOgGenerated = false;
    //recu de Qry
    private int iorig = 0, noerror = 0;
    private string errmess = "";

    private List<Customer> LsCustomers = new();
    private Customer _curCustomer= new();
    private List<Order> LsOrders = new();
    private Order _curOrder = new();

    protected override async Task OnInitializedAsync()
    {
        _locClient = _httpFactorer.CreateClient("simpleApiClient");
        _apiClient = _httpFactorer.CreateClient("wApiClient");
        await RendCatalog();
        //Get Query Parameters
        var uri = _navmanager.ToAbsoluteUri(_navmanager.Uri);
        var queryParams = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);
        var model = new BackModel();
        var props = typeof(BackModel).GetProperties();

        foreach (var prop in props)
        {
            if (queryParams.TryGetValue(prop.Name, out var value))
            {
                var targetType = Nullable.GetUnderlyingType(prop.PropertyType) ?? prop.PropertyType;
                var convertedVal = Convert.ChangeType(value.ToString(), targetType);
                prop.SetValue(model, convertedVal);
            }
        }
        _retModel = model;
        iorig = _retModel.Orig;
        noerror = _retModel.Error;
        Console.WriteLine($"FROM ORIG : {iorig}");
        //envoie de mail installation
        if (iorig == 1 && noerror == 9) //succes admin registration/le support ne revient pas
        {

        }
        //chargement customer and orders
        var lscusts = await _apiClient.GetFromJsonAsync<List<Customer>>("customers/rendall");
        if (lscusts != null && lscusts.Any())
        {
            LsCustomers = lscusts;
        }
        Console.WriteLine($"nb Customers : {LsCustomers.Count}");
        var lsordas = await _apiClient.GetFromJsonAsync<List<Order>>("orders/rendall");
        if (lsordas != null && lsordas.Any())
        {
            LsOrders = lsordas;
            _curOrder = LsOrders.FirstOrDefault(uo => uo.Id == _retModel.Ordid);
            if (_curOrder != null)
            {
                _curCustomer = LsCustomers.Where(uc => uc.Id == _curOrder.Idclie).FirstOrDefault();
                if (iorig == 1)
                {
                    int Idoma = _curOrder.Doma;
                    var odDoma = _myCatal.Domas.Where(ud => ud.Elea == Idoma).FirstOrDefault();
                    if (odDoma != null)
                    {
                        stDoma = odDoma.Liba;
                    }       
                }
                //Backend
                _retBaseUrl = _curCustomer.Weburl;
                _retBaseUrl = _retBaseUrl?.TrimEnd('/');
                _retBaseUrl = _retBaseUrl + "/api/lgauth";
                Console.WriteLine($"Backend Link : {_retBaseUrl}");
                _retModel.UsernameOrEmail = _curCustomer.UsernameOrEmail;
                if (noerror == 9)
                {
                    await CmdCustSendEmail(_curCustomer, _curOrder);
                }
            }
        }
        yaerrors = false; isLoading = false;
    }
    private async Task VaValiderMail()
    {
        IsMailGenerated = false;
        if (string.IsNullOrEmpty(_valModel.UsernameOrEmail))
        {
            Imessage = "Pseudo ou Email Obligatoire";
            return;
        }
        if (string.IsNullOrEmpty(_valModel.Password))
        {
            Imessage = "Mot de passe Obligatoire";
            return;
        }
        //donnees de base a ajouter a _invModel saisi
        _valModel.Idorg = _retModel.Idorg;
        _valModel.Orig = 1;
        // Use HttpClient's BaseAddress
        var baseUrl = _retBaseUrl;
        var _LinkSerialiser = new LinkSerialiser(_jsRun);
        var emailvalidLink = _LinkSerialiser.GenerateLink(_valModel, baseUrl, "validatemail");
        _navmanager.NavigateTo(emailvalidLink);
        IsMailGenerated = true;
        StateHasChanged();
    }
    private async Task RendCatalog()
    {
        try
        {
            _myCatal = await _tableService.rendTables();
        }
        catch (Exception ex)
        {
            Imessage = "probleme des options";
        }
        Console.WriteLine($"nb. pays : {_myCatal.Countries.Count()}");
    }
    private async Task VaGenererLink()
    {
        IsOgGenerated = false;
        var baseUrl = _navmanager.BaseUri;

        //var baseUrl = _apiClient.BaseAddress?.AbsoluteUri ?? "https://fallback-url.com/";
        var _LinkSerialiser = new LinkSerialiser(_jsRun);

        _ogsgenLink = _LinkSerialiser.GenerateLink(_retModel, baseUrl, "orgsetup");
        Console.WriteLine($"Final Generated Link: {_ogsgenLink}");
        IsOgGenerated = true;
    }
    private async Task CmdCustSendEmail(Customer mycust, Order myord)
    {
        await VaGenererLink();
        var myEmodel = new InviteEmailRequest
        {
            To = mycust.Email,
            SenderEmail = "support@a24soft.com",
            Email = "support@a24soft.com",
            UserName = mycust.UsernameOrEmail,
            Subject = "votre logiciel sur Gx-Solutions",
            InEmailButton = true,
            Message = "Cliquer dessous pour INSTALLATION de votre logiciel.",
            InviteLink = _ogsgenLink,
            QrBase64 = null, // optional
            LogoBase64 = null // optional
        };

        var response = await _apiClient.PostAsJsonAsync("email/sendinvite", myEmodel);

        if (response.IsSuccessStatusCode)
        {
            var msg = await response.Content.ReadAsStringAsync();
            Console.WriteLine($"✅ Success: {msg}");
        }
        else
        {
            var err = await response.Content.ReadAsStringAsync();
            Console.WriteLine($"❌ Failed: {response.StatusCode} - {err}");
        }
    }
}
